.frame {
    width: 1000px;
    height: 1200px;
    margin-left: 10%;
    text-align: center;
    padding-top: 5%;
    position: absolute;
}
h1 {
    text-align: center;
}
.registration{
    width: 500px;
    float: left;
}
.login {
    width: 500px;
    float:right;
}